# Yelp

Task 1: Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Task 2: Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Task 3: Put your parsed results into a DataFrame

In [1]:
import requests
import pandas as pd
from pprint import pprint
import json

Access saved data from city_bikes exercise.

In [2]:
df = pd.read_csv('/Users/nikiyaw/Desktop/sienabikestations.csv', sep=';',index_col=0)
df.head()

          name   latitude  longitude  total_bike_slots
0    Curtatone  43.321600  11.327948                16
1   S Agostino  43.314554  11.331021                10
2   S Girolamo  43.316539  11.337212                 7
3     Fortezza  43.320523  11.323225                10
4    Antiporto  43.328983  11.321913                10

Using the latitude and longitude from the DataFrame above and put it through YELP API query to obtain cafes (chosen point of interest) around all the bike stations.

In [3]:
yelp_cafe = df
yelp_cafe['Y_listOfCafes'] = ''
yelp_cafe['Y_listOfRatings'] = ''

#for n in range(3):
for n in range(len(df)):
    try:
        latitude = df.at[n, 'latitude']
        longitude = df.at[n, 'longitude']
        
        yelp_url = f"https://api.yelp.com/v3/businesses/search?latitude={latitude}&longitude={longitude}&term=cafe&radius=1000&sort_by=best_match&limit=20"
        headers = {"accept": "application/json",
                   "Authorization": "Bearer kRiwQHGufRBXSekWwL7gjfg6qLctefkzSvAmrcDpj_runTiC6sHj_B6OjvIcpJovymJXEeUXhwxfewAyKsZnsdpcVsAxbDAzNeWrBtepp7TwpOf7CakwVhOXmlJ6ZHYx"}
 
        yelp_response = requests.get(yelp_url, headers=headers)
        yelp_response_json = json.loads(yelp_response.text)
        yelp = yelp_response_json['businesses']
        pd_yelp = pd.DataFrame(yelp)
        cafe_list = pd_yelp['name'].tolist()
        rating_list = pd_yelp['rating'].tolist()

        yelp_cafe.at[n, 'Y_listOfCafes'] = cafe_list
        yelp_cafe.at[n, 'Y_numberOfCafes'] = len(cafe_list) 
        yelp_cafe.at[n, 'Y_listOfRatings'] = rating_list
        yelp_cafe.at[n, 'Y_averageRatings'] = sum(rating_list)/len(rating_list)
              
    except:
        pass
    
yelp_cafe

,name,latitude,longitude,total_bike_slots,Y_listOfCafes,Y_listOfRatings,Y_numberOfCafes,Y_averageRatings
0,Curtatone,43.321600,11.327948,16,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 3.5, 4.5, 3.0, 4.5, ...",14.0,4.035714
1,S Agostino,43.314554,11.331021,10,"[Torrefazione Fiorella, Bio & Chocolate, Café ...","[4.5, 5.0, 4.5, 4.0, 5.0, 3.0, 5.0, 4.0, 4.5, ...",13.0,4.000000
2,S Girolamo,43.316539,11.337212,7,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
3,Fortezza,43.320523,11.323225,10,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 3.0, 5.0, ...",14.0,4.035714
4,Antiporto,43.328983,11.321913,10,"[Café Nannini, Cafe Morbidi, Cafe Berta, Bar C...","[4.5, 5.0, 4.5, 3.0, 3.5]",5.0,4.100000
5,Due Ponti,43.317187,11.354256,12,,,NaN,NaN
6,Napoli,43.341757,11.305010,6,[Skile' Music Bar],[3.0],1.0,3.000000
7,Ospedale,43.343243,11.326733,14,,,NaN,NaN
8,Acquacalda,43.336999,11.300975,10,[Skile' Music Bar],[3.0],1.0,3.000000
9,Ravacciano,43.323781,11.338891,10,"[Torrefazione Fiorella, Cafe Morbidi, Café Nan...","[4.5, 5.0, 4.5, 5.0, 4.0, 3.5, 4.0, 3.0, 5.0, ...",13.0,4.000000
10,S Miniato,43.347800,11.326046,10,,,NaN,NaN
11,Terminal Bus,43.332288,11.324176,12,"[Cafe Berta, Bar Cecco]","[4.5, 3.0]",2.0,3.750000
12,Vico Alto,43.341445,11.312348,8,[Skile' Music Bar],[3.0],1.0,3.000000
13,Casa dell'Ambiente,43.326764,11.333702,6,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 4.5, 3.5, ...",11.0,4.045455
14,Frajese,43.309896,11.315263,10,,,NaN,NaN
15,Mercato,43.317315,11.332998,12,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
16,Tufi,43.296856,11.334854,9,[Il Tocco],[4.0],1.0,4.000000
17,Calamandrei,43.343407,11.322849,10,[Skile' Music Bar],[3.0],1.0,3.000000
18,Petriccio,43.334640,11.304803,10,"[Bar Cecco, Skile' Music Bar]","[3.0, 3.0]",2.0,3.000000

Rename the columns for readability.

In [4]:
yelp_cafe_final = yelp_cafe.rename(columns={
    'name': 'bikeStationName',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'total_bike_slots': 'totalBikeSlots',
})
yelp_cafe_final

,bikeStationName,Latitude,Longitude,totalBikeSlots,Y_listOfCafes,Y_listOfRatings,Y_numberOfCafes,Y_averageRatings
0,Curtatone,43.321600,11.327948,16,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 3.5, 4.5, 3.0, 4.5, ...",14.0,4.035714
1,S Agostino,43.314554,11.331021,10,"[Torrefazione Fiorella, Bio & Chocolate, Café ...","[4.5, 5.0, 4.5, 4.0, 5.0, 3.0, 5.0, 4.0, 4.5, ...",13.0,4.000000
2,S Girolamo,43.316539,11.337212,7,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
3,Fortezza,43.320523,11.323225,10,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 3.0, 5.0, ...",14.0,4.035714
4,Antiporto,43.328983,11.321913,10,"[Café Nannini, Cafe Morbidi, Cafe Berta, Bar C...","[4.5, 5.0, 4.5, 3.0, 3.5]",5.0,4.100000
5,Due Ponti,43.317187,11.354256,12,,,NaN,NaN
6,Napoli,43.341757,11.305010,6,[Skile' Music Bar],[3.0],1.0,3.000000
7,Ospedale,43.343243,11.326733,14,,,NaN,NaN
8,Acquacalda,43.336999,11.300975,10,[Skile' Music Bar],[3.0],1.0,3.000000
9,Ravacciano,43.323781,11.338891,10,"[Torrefazione Fiorella, Cafe Morbidi, Café Nan...","[4.5, 5.0, 4.5, 5.0, 4.0, 3.5, 4.0, 3.0, 5.0, ...",13.0,4.000000
10,S Miniato,43.347800,11.326046,10,,,NaN,NaN
11,Terminal Bus,43.332288,11.324176,12,"[Cafe Berta, Bar Cecco]","[4.5, 3.0]",2.0,3.750000
12,Vico Alto,43.341445,11.312348,8,[Skile' Music Bar],[3.0],1.0,3.000000
13,Casa dell'Ambiente,43.326764,11.333702,6,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 4.5, 3.5, ...",11.0,4.045455
14,Frajese,43.309896,11.315263,10,,,NaN,NaN
15,Mercato,43.317315,11.332998,12,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
16,Tufi,43.296856,11.334854,9,[Il Tocco],[4.0],1.0,4.000000
17,Calamandrei,43.343407,11.322849,10,[Skile' Music Bar],[3.0],1.0,3.000000
18,Petriccio,43.334640,11.304803,10,"[Bar Cecco, Skile' Music Bar]","[3.0, 3.0]",2.0,3.000000

Data Cleaning: Handling null values

Notice that there are some empty lists in Y_listOfCafes and the Y_numberOfCafes that are null values. 
Assume that if Y_listOfCafes is empty which means there are no cafes within 1km. 
Replace null values with 0.

Y_averageRatings only produces null values when Y_listofRatings is empty. 
Keeping it as null would be more appropriate because if we replace it by 0, it means that average ratings of cafes around that area is actually 0 (worst service).

In [6]:
yelp_cafe_final['Y_numberOfCafes'] = yelp_cafe_final['Y_numberOfCafes'].fillna(0)
yelp_cafe_final

,bikeStationName,Latitude,Longitude,totalBikeSlots,Y_listOfCafes,Y_listOfRatings,Y_numberOfCafes,Y_averageRatings
0,Curtatone,43.321600,11.327948,16,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 3.5, 4.5, 3.0, 4.5, ...",14.0,4.035714
1,S Agostino,43.314554,11.331021,10,"[Torrefazione Fiorella, Bio & Chocolate, Café ...","[4.5, 5.0, 4.5, 4.0, 5.0, 3.0, 5.0, 4.0, 4.5, ...",13.0,4.000000
2,S Girolamo,43.316539,11.337212,7,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
3,Fortezza,43.320523,11.323225,10,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 3.0, 5.0, ...",14.0,4.035714
4,Antiporto,43.328983,11.321913,10,"[Café Nannini, Cafe Morbidi, Cafe Berta, Bar C...","[4.5, 5.0, 4.5, 3.0, 3.5]",5.0,4.100000
5,Due Ponti,43.317187,11.354256,12,,,0.0,NaN
6,Napoli,43.341757,11.305010,6,[Skile' Music Bar],[3.0],1.0,3.000000
7,Ospedale,43.343243,11.326733,14,,,0.0,NaN
8,Acquacalda,43.336999,11.300975,10,[Skile' Music Bar],[3.0],1.0,3.000000
9,Ravacciano,43.323781,11.338891,10,"[Torrefazione Fiorella, Cafe Morbidi, Café Nan...","[4.5, 5.0, 4.5, 5.0, 4.0, 3.5, 4.0, 3.0, 5.0, ...",13.0,4.000000
10,S Miniato,43.347800,11.326046,10,,,0.0,NaN
11,Terminal Bus,43.332288,11.324176,12,"[Cafe Berta, Bar Cecco]","[4.5, 3.0]",2.0,3.750000
12,Vico Alto,43.341445,11.312348,8,[Skile' Music Bar],[3.0],1.0,3.000000
13,Casa dell'Ambiente,43.326764,11.333702,6,"[Torrefazione Fiorella, Café Nannini, Cafe Mor...","[4.5, 4.5, 5.0, 4.0, 5.0, 4.5, 3.5, 4.5, 3.5, ...",11.0,4.045455
14,Frajese,43.309896,11.315263,10,,,0.0,NaN
15,Mercato,43.317315,11.332998,12,"[Torrefazione Fiorella, Bio & Chocolate, Nanni...","[4.5, 5.0, 4.0, 5.0, 4.5, 3.0, 4.0, 5.0, 4.5, ...",13.0,4.000000
16,Tufi,43.296856,11.334854,9,[Il Tocco],[4.0],1.0,4.000000
17,Calamandrei,43.343407,11.322849,10,[Skile' Music Bar],[3.0],1.0,3.000000
18,Petriccio,43.334640,11.304803,10,"[Bar Cecco, Skile' Music Bar]","[3.0, 3.0]",2.0,3.000000

DATA EXPORT

In [7]:
yelp_cafe_final.to_csv('/Users/nikiyaw/Desktop/yelpcafefinal.csv',sep=';')